@import "styles/colors";

.exhibitor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;

  .heading {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      padding: 0 0 0 10px;
      border-left: 1px solid rgb(200, 200, 200);
    }
  }

  .info {
    div {
      margin: 20px 0;

      p {
        line-height: 1.5em;
      }

      a {
        color: inherit;
        text-decoration: none;
        margin-right: 10px;

        mat-icon {
          width: 30px;
          height: 30px;
        }
      }

      mat-icon:hover, a:hover, img:hover {
        color: $accent;
        transition: .3s linear;
      }
    }
  }

  hr {
    width: 60%;
    margin: 20px auto;
  }

  .images {
    columns: 4 150px;
    column-gap: 15px;

    div {
      margin: 0 15px 15px 0;
      display: inline-block;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

.isLoading {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
