@import "styles/colors";

.exhibitor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;

  .heading {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      padding: 0 0 0 10px;
      border-left: 1px solid rgb(200, 200, 200);
    }
  }

  strong {
    display: block;
    margin: 20px 0;
  }

  hr {
    width: 60%;
    margin: 20px auto;
  }

  .row {
    display: flex;
    flex-flow: row wrap;

    .col {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;

      a {
        color: inherit;
        text-decoration: none;
        margin-right: 10px;
      }

      mat-icon:hover, a:hover, img:hover {
        color: $tertiary;
        transition: .3s linear;
      }
    }
  }

  .images {
    columns: 4 150px;
    column-gap: 15px;

    div {
      margin: 0 15px 15px 0;
      display: inline-block;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
