<div *ngIf="exhibitor" class="exhibitor">
  <h1>{{exhibitor.titel}}</h1>
  <strong><em>{{exhibitor.vorname}} {{exhibitor.nachname}}</em></strong>
  <div class="row">
    <div class="col-7">
      <p>{{exhibitor.beschreibung}}</p>
    </div>
    <div class="col-3">
      <ng-container>
        <a [href]="exhibitor.links.facebook" *ngIf="exhibitor.links.facebook"><mat-icon>facebook</mat-icon></a>
        <a [href]="exhibitor.links.twitter" *ngIf="exhibitor.links.twitter">{{exhibitor.links.twitter}}</a>
        <a [href]="exhibitor.links.website" *ngIf="exhibitor.links.website"><mat-icon>language</mat-icon></a>
        <a [href]="exhibitor.links.instagram" *ngIf="exhibitor.links.instagram">{{exhibitor.links.instagram}}</a>
      </ng-container>
    </div>
  </div>
  <hr>
  <div class="images">
    <div *ngFor="let img of exhibitor.fotos">
      <img class="mat-elevation-z8" alt="klein.Design Impressionen" [src]="img.url"/>
    </div>
  </div>
  <button class="back-btn" mat-raised-button routerLink="/aussteller"><mat-icon>arrow_left</mat-icon>Zurück zu allen Ausstellern</button>
</div>
