<div id="home">
  <section id="hero" class="full-width">
    <img class="heroImg" src="../../../assets/images/logo_klein-design.svg" alt="img">
    <app-circle-banner class="banner"></app-circle-banner>
    <div class="heroText">
      <p>
        Unglaublich kreative Aussteller präsentieren handgemachte, originelle und einzigartige Produkte.
        Aus diversen Materialien wie Wolle, Stoff, Beton, Glas, Holz und vielem mehr entstehen hochwertige Designs.
        <br>
        <br>
        Geschenke für kleine und große Leute, sowie eine angenehme Atmosphäre laden zum Stöbern ein.
        Lasst euch durch das abwechslungs- reiche und kunterbunte Angebot den Tag versüßen, wir freuen uns auf euren Besuch!
      </p>
      <button mat-raised-button (click)="routeToView('bewerbung')">Bewerbung</button>
    </div>
  </section>

  <section id="exhibitors">
    <h1>Aussteller</h1>
    <div class="carousel-wrapper">
      <carousel class="carousel" height="350" dots="true" arrowsOutside="true">
        <ng-container *ngFor="let exhibitor of exhibitors">
          <div class="carousel-cell">
            <app-exhibitor-card [exhibitor]="exhibitor"></app-exhibitor-card>
          </div>
        </ng-container>
      </carousel>
    </div>
    <button mat-raised-button (click)="routeToView('aussteller')">Alle Aussteller</button>
  </section>

  <section id="impressionen" class="full-width">
    <hr>
    <div class="rows">
      <img *ngFor="let img of imagesUpperRow" alt="klein.Design Impressionen" [src]="img.url"/>
    </div>
    <div class="rows">
      <img *ngFor="let img of imagesLowerRow" alt="klein.Design Impressionen" [src]="img.url"/>
    </div>
    <hr>
  </section>

  <section id="aboutUs">
    <h1>Über Uns</h1>
    <div class="aboutUs-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos consequuntur modi omnis perspiciatis natus dolore architecto reiciendis harum aliquid rerum hic laborum amet esse laboriosam voluptates culpa maxime consectetur eius, tempore.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi incidunt eius animi at similique. Consequatur, nisi. Expedita, animi, magnam error facere illum rerum rem unde sequi, sed eum ullam laudantium ratione voluptatem quis optio assumenda.</p>
    </div>
    <div class="portraits">
      <div class="mat-elevation-z8">
        <img src="assets/images/portraits/sabine.jpg" alt="">
      </div>
      <div class="mat-elevation-z8">
        <img src="assets/images/portraits/tina.jpg" alt="">
      </div>
      <div class="mat-elevation-z8">
        <img src="assets/images/portraits/sylvia.jpg" alt="">
      </div>
    </div>
  </section>

  <section id="location" class="full-width">
    <h1>Anfahrt</h1>
    <iframe title="googleMap" class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5307.7084514908875!2d16.327106!3d48.305655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0f1c7b4aafcb%3A0x5be8e85960ad8b95!2sSchiefergarten%201%2C%203400%20Klosterneuburg!5e0!3m2!1sde!2sat!4v1599344586941!5m2!1sde!2sat" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="locationInfo">
      <div>
        <mat-icon>location_on</mat-icon>
        <p>Schiefergarten 1, <br>
          3400 Klosterneuburg</p>
      </div>
      <div>
        <mat-icon>commute</mat-icon>
        <p><strong>S-Bahn:</strong> Station Klosterneuburg Kierling<br>
          <strong>Autobus:</strong> Stiftsgarten oder Niedermarkt</p>
      </div>
      <div>
        <mat-icon>local_parking</mat-icon>
        <p>Parkmöglichkeiten am Rathausplatz (Keine Kurzparkzone am Wochenende!)
          oder hinter dem Bahnhof Klosterneuburg-Kierling. <br>
          Fahren Sie durch die Bahn-Unterführung und über die Brücke über den Durchstich Richtung FZ Happyland. <br>
          Achtung: Die Parkplätze P&R am Bahngelände (1. Parkplatz nach der Bahn-Unterführung) sind Bahnkunden vorbehalten!
        </p>
      </div>
    </div>
  </section>
</div>
