@import "../../../styles/colors";

#home {
  display: flex;
  flex-flow: column;
  align-items: center;

  section {
    width: 100%;
    padding: 20px 20%;
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .full-width {
    padding: 0;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    height: 1px;
  }

  #hero {
    .heroText {
      width: 100%;
      padding: 20px;
      background-color: $primary;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      box-sizing: border-box;

      p {
        width: 60%;
        color: white;
      }
    }

    .heroImg {
      width: 30%;
      align-self: flex-start;
      margin-left: 20%;
      opacity: .8;
    }

    .banner {
      align-self: flex-end;
      margin-right: 20%;
    }
  }

  #exhibitors {
    background-color: lighten($primary, 25%);

    .exhibitor-cards {
      margin-bottom: 40px;
    }
  }

  #aboutUs {
    .portraits {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 auto;
      width: 600px;

      div {
        width: 150px;
        padding-top: 150px;
        border: .5px solid black;
        border-radius: 50%;
      }
    }

    @media only screen and (min-width: 0) and (max-width: 768px) {
      .portraits {
        align-items: center;
        flex-flow: column;
        width: 100%;

        div {
          margin: 20px auto;
        }
      }
    }
  }

  #location {
    .map {
      height: 300px;
      width: 100%;
      border: none;
      margin-bottom: 30px;
    }

    .locationInfo {
      width: 80%;
      display: flex;
      flex-flow: row nowrap;;
      justify-content: space-between;
    }
  }

  #footer {
    background-color: $primary;
    margin-bottom: 0;
  }

}
