@import "../../../styles/colors";

#home {
  display: flex;
  flex-flow: column;
  align-items: center;

  section {
    width: 100%;
    padding: 20px 20%;
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .full-width {
    padding: 0;
  }

  hr {
    width: 50%;
  }

  #hero {
    .heroText {
      width: 100%;
      padding: 50px 0;
      background-color: $primary;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      box-sizing: border-box;

      p {
        width: 60%;
        color: white;
      }
    }

    .heroImg {
      width: 40%;
      min-width: 250px;
      align-self: flex-start;
      margin-left: 20%;
      opacity: .8;
    }

    .banner {
      align-self: flex-end;
      margin-right: 20%;
      margin-bottom: -30px;
      z-index: 3;
    }
  }

  #exhibitors {
    padding: 20px 10%;
    background-color: lighten($primary, 25%);

    .carousel {
      width: 80%;
    }
  }

  #impressionen {
    height: 400px;

    .rows {
      width: 100%;
      height: 50%;
      white-space: nowrap;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  #aboutUs {
    .portraits {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 10px auto;
      width: 600px;

      div {
        width: 150px;
        padding-top: 150px;
        border: .5px solid black;
        border-radius: 50%;
      }
    }

    @media only screen and (min-width: 0) and (max-width: 768px) {
      .portraits {
        align-items: center;
        flex-flow: column;
        width: 100%;

        div {
          margin: 20px auto;
        }
      }
    }
  }

  #location {
    .map {
      height: 300px;
      width: 100%;
      border: none;
      margin-bottom: 30px;
    }

    .locationInfo {
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 10px 0;

        p {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  #footer {
    background-color: $primary;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 30px 30px 15px 30px;

    .newsletter {
      margin: 50px auto;
    }

    .row {
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

}
