<div id="home">
  <section id="hero" class="full-width">
    <img src="" alt="klein-design">
    <app-circle-banner></app-circle-banner>
    <div class="heroText">
      <p>
        Unglaublich kreative Aussteller präsentieren handgemachte, originelle und einzigartige Produkte.
        Aus diversen Materialien wie Wolle, Stoff, Beton, Glas, Holz und vielem mehr entstehen hochwertige Designs.
        <br>
        <br>
        Geschenke für kleine und große Leute, sowie eine angenehme Atmosphäre laden zum Stöbern ein.
        Lasst euch durch das abwechslungs- reiche und kunterbunte Angebot den Tag versüßen, wir freuen uns auf euren Besuch!
      </p>
      <button (click)="routeToView('bewerbung')">Weiter zur Bewerbung</button>
    </div>
  </section>

  <section id="exhibitors">
    <h1>Aussteller</h1>
    <app-exhibitor-card *ngFor="let exhibitor of exhibitors" [exhibitor]="exhibitor" class="exhibitor-cards"></app-exhibitor-card>
    <button (click)="routeToView('aussteller')">Alle Aussteller</button>
  </section>

  <section id="impressionen" class="full-width">
    <div class="rows">
      <img *ngFor="let img of imagesUpperRow" alt="klein.Design Impressionen" [src]="img"/>
    </div>
    <div class="rows">
      <img *ngFor="let img of imagesLowerRow" alt="klein.Design Impressionen" [src]="img"/>
    </div>
  </section>

  <section id="aboutUs">
    <h1>Über Uns</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos consequuntur modi omnis perspiciatis natus dolore architecto reiciendis harum aliquid rerum hic laborum amet esse laboriosam voluptates culpa maxime consectetur eius, tempore.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi incidunt eius animi at similique. Consequatur, nisi. Expedita, animi, magnam error facere illum rerum rem unde sequi, sed eum ullam laudantium ratione voluptatem quis optio assumenda.</p>
    <div class="portraits">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>

  <section id="location" class="full-width">
    <h1>Anfahrt</h1>
    <iframe title="googleMap" class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5307.7084514908875!2d16.327106!3d48.305655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0f1c7b4aafcb%3A0x5be8e85960ad8b95!2sSchiefergarten%201%2C%203400%20Klosterneuburg!5e0!3m2!1sde!2sat!4v1599344586941!5m2!1sde!2sat" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="locationInfo">
      <div>
        <p>Schiefergarten 1, <br>
          3400 Klosterneuburg</p>
      </div>
      <div>
        <p><strong>S-Bahn:</strong> Station Klosterneuburg Kierling<br>
          <strong>Autobus:</strong> Stifsgarten oder Niedermarkt</p>
      </div>
      <div>
        <p>Parkmöglichkeiten am Rathausplatz<br>
          oder Park & Ride Kierling Bahnhof<br>
          <em>(Keine Kurzparkzone am Wochenende!)</em>
        </p>
      </div>
    </div>
  </section>

  <section id="footer">
    <app-newsletter-form></app-newsletter-form>
  </section>
</div>
