<div class="newsletter mat-elevation-z8">
  <h2>Bleib in Kontakt</h2>
  <p>Melde dich zu unserem Newsletter an!</p>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          id="icon-input"
          #input="ngModel"
          name="email"
          type="text"
          (input)="response = ''"
          [(ngModel)]="email"
          required
          email>
        <mat-error>Ungültige Email-Adresse</mat-error>
        <mat-hint *ngIf="response">{{response}}</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="f.invalid" [class.spinner]="loading | async" type="submit">Absenden</button>
  </form>
</div>
