.newsletter {
  border-radius: 3px;
  padding: 20px;
  width: fit-content;
  background-color: white;

  h3 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: stretch;

    button {
      margin-left: 20px;
    }
  }
}
