<div class="application-form">
  <div>
    <p-toast></p-toast>
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
  </div>
    <form class="formGroup" *ngFor="let form of formArray.controls; index as i">
      <div *ngIf="activeIndex === i">
        <div [formGroup]="getFormGroup(i)">
          <ng-container *ngFor="let input of forms[i]">
            <ng-container *ngIf="!(input.type === 'textarea' || input.type === 'select')">
              <div class="input">
                <label [for]="input.formControlName">{{input.label}}</label>
                <input pInputText [required]="input.isRequired" [type]="input.type" [id]="input.formControlName" [formControlName]="input.formControlName" aria-describedby='invalidMessage'>
              </div>
            </ng-container>
            <ng-container *ngIf="input.type === 'textarea'">
              <div class="input">
                <label [for]="input.formControlName">{{input.label}}</label>
                <textarea pInputTextarea [required]="input.isRequired" [id]="input.formControlName" [formControlName]="input.formControlName" aria-describedby='invalidMessage'></textarea>
              </div>
            </ng-container>
            <ng-container *ngIf="input.type === 'select'">
              <div class="input">
                <label [for]="input.formControlName">{{input.label}}</label>
                <p-dropdown [style]="{'minWidth':'100%'}" [options]="['1','2']" [formControlName]="input.formControlName"></p-dropdown>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="buttons">
          <button *ngIf="i > 0" pButton type="button" icon="pi pi-check" iconPos="left" label="Letzte Seite" (click)="previousPage()"></button>
          <button *ngIf="i < 4" pButton type="button" icon="pi pi-check" iconPos="right" label="Nächste Seite" class="btn-right" (click)="nextPage()"></button>
        </div>
      </div>
    </form>
</div>
