<div class="application-form">
  <h1>Bewerbung Kreativ Markt Nov. 2021</h1>
  <mat-vertical-stepper #stepper linear="true" (selectionChange)="showSummary($event.selectedIndex)">
    <mat-step *ngFor="let form of formArray.controls; index as i" [stepControl]="getFormGroup(i)" [label]="formLabels[i]">
      <form>
        <div [formGroup]="getFormGroup(i)" class="formGroup">
          <ng-container *ngFor="let input of forms[i]">
            <ng-container *ngIf="!(input.type === 'textarea' || input.type === 'select' || input.type === 'upload')">
              <mat-form-field appearance="outline">
                <mat-label>{{input.label}}</mat-label>
                <input matInput [required]="input.isRequired" [type]="input.type" [formControlName]="input.formControlName" [pattern]="input.pattern">
                <mat-error>Dieses Feld wird benötigt!</mat-error>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="input.type === 'textarea'">
              <mat-form-field appearance="outline">
                <mat-label>{{input.label}}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"
                  minlength="400"
                  #textarea
                  [required]="input.isRequired"
                  [formControlName]="input.formControlName"
                ></textarea>
                <mat-hint>{{textarea.value.length}} von mind. {{textarea.minLength}} Zeichen</mat-hint>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="input.type === 'select'">
              <mat-form-field appearance="outline">
                <mat-label>{{input.label}}</mat-label>
                <mat-select [formControlName]="input.formControlName" [multiple]="input.multiple" [required]="input.isRequired">
                  <mat-option *ngFor="let option of input.options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
                <mat-error>Dieses Feld wird benötigt!</mat-error>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="input.type === 'upload'">
              <label>{{input.label}}</label>
              <input type="file" [multiple]="input.multiple" [required]="input.isRequired" [formControlName]="input.formControlName" />
            </ng-container>
          </ng-container>
        </div>
        <div class="buttons">
          <button mat-raised-button *ngIf="i > 0" type="button" matStepperPrevious>Letzte Seite</button>
          <button mat-raised-button *ngIf="i < 4" type="button" class="btn-right" matStepperNext>Nächste Seite</button>
          <button mat-raised-button *ngIf="i === 4" type="button" class="btn-right" matStepperNext (click)="showSummary(i)">Zusammenfassung</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Zusammenfassung">
      <div class="summary">
        <div *ngFor="let object of summaryArray" class="gridContainer">
          <span class="column key">{{object.label}}</span>
          <span class="column">{{object.value}}</span>
        </div>
        <div class="buttons">
          <button mat-raised-button type="button" matStepperPrevious>Letzte Seite</button>
          <button mat-raised-button class="btn-right" type="button" (click)="sendApplication()">Absenden</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</div>
