.application-form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;


  .formGroup {
    justify-content: left;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  .buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .btn-right {
      margin-left: auto;
    }
  }

  .summary {
    margin-bottom: 20px;

    .gridContainer {
      display: flex;
      flex-direction: row;

      .column {
        width: 200px;
        margin: 5px 20px 5px 0;
      }

      .key {
        font-weight: 500;
      }
    }
  }
}
