$primary: rgb(155, 178, 184);
$secondary: rgb(2, 46, 101);
$tertiary: rgb(222, 182, 88);

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #f3f6f6,
  100 : #e1e8ea,
  200 : #cdd9dc,
  300 : #b9c9cd,
  400 : #aabec3,
  500 : #9bb2b8,
  600 : #93abb1,
  700 : #89a2a8,
  800 : #7f99a0,
  900 : #6d8a91,
  A100 : #ffffff,
  A200 : #daf7fe,
  A400 : #a7ecff,
  A700 : #8de7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #e5f4f3,
  100 : #bee4e1,
  200 : #93d3cd,
  300 : #67c1b8,
  400 : #47b3a9,
  500 : #26a69a,
  600 : #229e92,
  700 : #1c9588,
  800 : #178b7e,
  900 : #0d7b6c,
  A100 : #adfff3,
  A200 : #7affec,
  A400 : #47ffe4,
  A700 : #2dffe0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fbf6eb,
  100 : #f5e9cd,
  200 : #efdbac,
  300 : #e8cc8a,
  400 : #e3c171,
  500 : #deb658,
  600 : #daaf50,
  700 : #d5a647,
  800 : #d19e3d,
  900 : #c88e2d,
  A100 : #ffffff,
  A200 : #ffefd7,
  A400 : #ffdba4,
  A700 : #ffd18b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


