@font-face {
  font-family: 'shadows-into-light';
  src: local('shadows-into-light'), url("../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'quicksand';
  src: local('quicksand'), url("../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf") format('truetype');
}
