/* You can add global styles to this file, and also import other style files */
@import "colors";
@import "utilities";
@import "fonts";
@import "layouts";

body, html {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: quicksand, sans-serif;
  font-weight: lighter;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: rgba(200, 200, 200, 0.8);
  height: 1px;
}
