@import "_colors.scss";

button {
  background-color: $primary;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 150px;
}

.btn-white {
  color: $primary;
  background-color: white;
}

.card {
  min-width: 200px;
  margin: 20px;
  z-index: 3;
}
