@import "_colors.scss";

button {
  border: none !important;
  font-size: .9rem !important;
}

.btn-white {
  color: $tertiary !important;
  background-color: white !important;
}

.card {
  min-width: 200px;
  margin: 20px;
  z-index: 3;
}
