@import "./src/styles/colors";

#allExhibitors {
  min-height: 100vh;
  background-color: lighten($primary, 25%);
  padding: 40px 0;
  box-sizing: border-box;

  .filter {
    width: 60%;
    margin: 0 auto 20px auto;

    span, input {
      width: 100%;
    }
  }
}
