@import "styles/colors";

#allExhibitors {
  padding: 20px 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  min-height: 510px;

  .filter {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto 20px auto;

    .mat-form-field {
      width: 100%;
    }
  }

  .gallery {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 350px;
  }

  @media only screen and (max-width: 768px) {
    .gallery {
      width: 90%;

      .card {
        width: 200px;
        margin: 10px;
      }
    }
  }
}
