@import "./src/styles/colors";

#allExhibitors {
  background-color: lighten($primary, 25%);
  padding: 40px 0;
  height: 100%;
  box-sizing: border-box;

  .filter {
    width: 60%;
    margin: 0 auto 20px auto;

    .mat-form-field {
      width: 100%;
    }
  }
}
