<div id="allExhibitors">
  <div class="filter">
    <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
      <mat-form-field appearance="outline">
        <mat-label>Durchsuche Aussteller</mat-label>
        <input matInput [(ngModel)]="searchValue" type="text">
      </mat-form-field>
  </span>
  </div>
  <div class="gallery">
    <app-exhibitor-card class="card" *ngFor="let exhibitor of exhibitors | exhibitorFilter: searchValue" [exhibitor]="exhibitor"></app-exhibitor-card>
  </div>
</div>
