$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-padding-x: 8px;
$hamburger-padding-y: 8px;

@import "styles/colors";
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

$navbar-color: rgba(255, 255, 255, .98);

.navbar {
  width: 100%;
  height: 70px;
  background-color: $navbar-color;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  .navList {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    button {
      background: transparent !important;
      z-index: 2;
    }

    a {
      width: fit-content;
      margin-left: 50px;
      text-decoration: none;
      color: black;
      position: relative;
      transition: .3s linear;
    }

    a:hover {
      color: $tertiary;
    }

    a::before {
      transition: .3s linear;
      height: 2px;
      content: "";
      width: 0;
      position: absolute;
      bottom: -5px;
      background-color: $tertiary;
    }

    a:hover::before {
      width: 100%;
    }

    .is-active {
      color: $tertiary !important;
    }

    .is-active::before {
      width: 100%;
    }

    .navMobile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      margin-top: 70px;
      visibility: hidden;
      transition: .3s linear;
      background-color: $navbar-color;

      .navItem {
        padding: 10px;
        opacity: 0;
      }
    }

    .isOpen {
      visibility: visible;
      height: 150px;
      transition: .3s linear;

      .navItem {
        opacity: 1;
        transition: .3s linear;
        transition-delay: .3s;
      }
    }
  }
}

.isTop {
  background-color: transparent;
  color: black;
}

.onPage {
  background-color: $primary;
  color: white;
}
