@import "styles/colors";

.footer {
  background-color: $primary;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .row {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px auto;

    .col {
      margin: 20px 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      hr {
        width: 60%;
        margin: 10px auto;
        background-color: rgb(240, 240, 240);
      }

      .links {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        color: white;

        mat-icon, a {
          margin-right: 10px;
          cursor: pointer;
          transition: .3s linear;
          color: white;
          text-decoration: none;
        }

        mat-icon:hover, a:hover {
          color: $tertiary;
          transition: .3s linear;
        }
      }
    }
  }
}
