<div class="footer">
  <div class="row newsletter">
    <div class="col">
      <app-newsletter-form></app-newsletter-form>
    </div>
    <div class="col">
      <div class="links">
        <div>
          <mat-icon svgIcon="facebook" (click)="openURL('https://www.facebook.com/kreativ.markt.at')"></mat-icon>
          <mat-icon svgIcon="instagram" (click)="openURL('https://www.instagram.com/kreativmarkt/')"></mat-icon>
          <mat-icon svgIcon="mail" (click)="sendMail()">mail</mat-icon>
        </div>
        <hr>
        <a routerLink="/impressum">Impressum</a>
        <p>©2021 kleinDesign. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
