<div class="footer">
  <div class="row newsletter">
    <div class="col">
      <app-newsletter-form></app-newsletter-form>
    </div>
    <div class="col">
      <div class="links">
        <div>
          <mat-icon (click)="openURL('https://www.facebook.com/kreativ.markt.at')">facebook</mat-icon>
          <mat-icon (click)="openURL('https://www.instagram.com/kreativmarkt/')">tag</mat-icon>
          <mat-icon (click)="sendMail()">mail</mat-icon>
        </div>
        <hr>
        <a routerLink="/impressum" target='_blank'>Impressum</a>
        <p>©2021 Kreativ-Markt. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
