form {
  display: flex;
  flex-flow: column nowrap;

  .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    mat-form-field {
      width: 100%;
      margin: auto 5px;
    }
  }

  @media only screen and (min-width: 0) and (max-width: 900px) {
    .row {
      flex-flow: row wrap;
    }
  }
}
