.photos-heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }

  mat-icon {
    cursor: pointer;
    margin-left: 10px;
  }
}

.fileUpload {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  .fileInput {
    display: none;
  }

  button {
    margin: 10px;

    mat-icon {
      color: white;
    }
  }
}

.imagesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.selectedFile {
  width: 200px;
  margin: 20px;

  .imgPreview {
    position: relative;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .imgInfo {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    height: 100px;

    small {
      word-wrap: anywhere;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
    }
  }
}
