<div class="photos-heading">
  <h2>Fotos hochladen</h2>
  <mat-icon
    matTooltip="Zugelassene Formate: .jpg, .jpeg, .png, .svg. Alle Fotos werden automatisch Größenoptimiert."
  >help_outline</mat-icon>
</div>
<div class="fileUpload">
  <input
    type="file"
    class="fileInput"
    accept="image/*"
    #fileInput
    (change)="onImgSelected($event)"
    multiple
    required/>
  <ng-container>
    <div class="imagesList">
      <div class="selectedFile mat-elevation-z2" *ngFor="let image of selectedImages">
        <div class="imgPreview">
          <button mat-mini-fab matTooltip="Foto entfernen" color="accent" (click)="onRemoveImg(image)"><mat-icon>delete_outline</mat-icon></button>
          <img [src]="image.imgSrc" alt="dein foto">
        </div>
        <div class="imgInfo">
          <small>{{image.file.name}}</small>
          <div>
            <span>{{image.file.size / 1000 | number:'1.0-0'}} KB</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <button
    mat-fab
    color="accent"
    matTooltip="Fotos hinzufügen"
    (click)="fileInput.click()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="validation" [ngClass]="validSize ? 'valid' : 'validationError'">
  <p [matTooltip]="validSize ? null : 'Die Gesamtgröße darf 1000 KB nicht überschreiten!'"><span>{{totalSize / 1000 | number:'1.1-1' }} KB</span>  / max. 1000KB</p>
  <mat-icon>{{ validSize ? 'check_circle' : 'error'}}</mat-icon>
</div>
