@import "./src/styles/colors";
@import "./src/styles/fonts";

div {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: $secondary;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 26px;
    line-height: 33px;
    transform: rotate(8deg);
  }
}
